div .gryffindor {
  background-color: #5a2222;
  color: #c0a167;
}
div .member {
  background-color: #987432;
  border-radius: 10px;
}
.gryffindor-slide img {
  width: 400px !important;
  height: 550px;
}
