.hogwarts-page {
  background: center no-repeat url("./images/title.jpg");
  background-size: cover;
}
.hogwarts {
  background-color: #2e4763;
}
.hogwarts img {
  border-radius: 10px;
}
#patronus li {
  font-size: 1.3rem;
}
#patronus img {
  justify-content: center;
}
@media (max-width: 700px) {
  #diagon .diagon-img {
    max-width: 300px;
  }
}
