.contact-page input,
.contact-page textarea {
  color: aliceblue;
  background-color: transparent;
}
.contact-page .forms {
  max-width: 500px;
}
div .contact-page {
  padding-top: 50px;
}
div h3 .title-contact {
  font-size: 200px;
}
