:root {
  --default-color: #11161d;

  --default-font: "Bluu Next", serif;
  --paragraph-font: "Sofia Pro", serif;
}
.body {
  color: white;
  background-color: var(--default-color);
  font-family: var(--default-font);
  text-align: justify;
}
img {
  border-radius: 10px;
}
span {
  color: silver;
  font-size: 50px;
  font-family: "Special Elite", cursive;
}
div .navbar-toggler-icon {
  width: 1em;
  height: 1em;
}
footer img {
  width: 90px;
  margin-left: -10px;
}
.title {
  font-size: 55px;
  animation-name: fade;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p {
  animation-name: slide;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes slide {
  0% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes slide {
  0% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-o-keyframes slide {
  0% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes slide {
  0% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 105.3px;
  }
}
@media (min-width: 490px) and (max-width: 1199px) {
  .title {
    font-size: 87.3px;
  }
}
