:root {
  --default-color: #151827;
  --details-color: #817d7a;

  --default-font: "Bluu Next", serif;
  --paragraph-font: "Sofia Pro", serif;
}
.body {
  color: white;
  background-color: var(--default-color);
  font-family: var(--default-font);
}

span {
  color: var(--details-color);
  font-size: 50px;
}
