.body {
  background-color: black;
  color: white;
}
.homePage-FirstPart {
  color: white;
  background: top -200px center no-repeat url("./components/images/firstPart.jpg");
  background-size: 1550px 860px;
}
.homePage-FirstPart .title {
  font-size: 100px;
}
.homePage hr {
  border-top: 3px solid;
  opacity: 0.75;
}
.introduction-page hr,
.introduction-page p {
  margin-right: 400px;
  margin-left: 400px;
  margin-bottom: 20px;
}
.btn-contact-page {
  background: linear-gradient(320deg, blue 5%, red 65%);
  color: white;
  width: 200px;
  border: 0px;
  font-size: 25px;
}
.btn-contact-page:hover {
  background: linear-gradient(320deg, red 5%, blue 65%);
  color: white;
}
span {
  color: red;
}
